.backSlideImg {
 background-image: url('/public/images/Asset 5.svg');
 background-size: cover;
}

.bgVideoImgBase {
 width: 100%;
 height: 40%;
 position: absolute;
 background-image: url('/public/images/Frame (2).png');
 background-size: cover;
 background-repeat: no-repeat;
}

.backVideoImg {
 width: 80%;
 height: 500px;
 position: absolute;
 background-repeat: no-repeat;
 background-image: url('/public/images/Frame (1).svg');
 background-size: cover;
 animation: moveImage 15s infinite;
}

.sectionBgImg {
 width: 400px;
 height: 440px;
 background-image: url('/public/images/Asset 1 5.svg');
 background-repeat: no-repeat;
 background-size: 100%;
}

@keyframes moveImage {
 0% {
  transform: translate(0, 0);
 }

 25% {
  transform: translate(0, 50px);
 }

 50% {
  transform: translate(100px, 100px);
 }

 75% {
  transform: translate(50px, 0);
 }

 100% {
  transform: translate(0, 0);
 }
}

.imgBitCoin {

 background-repeat: no-repeat;
 background-size: cover;
 animation: upDown 15s infinite;

}

@keyframes upDown {
 0% {
  transform: translate(0px, 0px);
 }

 25% {
  transform: translate(0, 30px);
 }

 50% {
  transform: translate(0, 0px);
 }

 75% {
  transform: translate(0, 30px);
 }

 100% {
  transform: translate(0, 0px);
 }
}


.bg_form_img {
 width: 100%;
 height: 100%;
 background-image: url('/public/images/Rectangle 2765.svg');
 background-repeat: no-repeat;
 background-size: 100%;
}